* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  list-style: none;
  color: #333;
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  width: 1770px;
}
.header {
  height: 215px;
}
.logo {
  float: left;
  margin-top: 65px;
  height: 80px;
}
.logo img {
  height: 70px;
}
.logo li {
  float: left;
  padding: 0 30px;
  height: 80px;
}
.search {
  float: right;
  margin-top: 55px;
  width: 170px;
  height: 50px;
}
.search input {
  width: 85px;
  height: 45px;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.search .iconfont {
  margin-left: 15px;
  font-size: 26px;
  color: #173060;
}
.nav {
  margin-top: 75px;
  padding-left: 420px;
  float: right;
  width: 1300px;
  height: 40px;
  line-height: 40px;
}
.nav li {
  float: left;
  font-size: 30px;
  padding: 0 25px;
  color: #173060;
}

.banner {
  margin-top: 10px;
}
#playBox {
   width:1920px; 
   height:950px; 
   margin:auto; 
   background:#333; 
   position:relative; 
   overflow:hidden;
  }
  #playBox .pre{ 
    cursor:pointer; 
    width:45px; 
    height:45px; 
    background:url(../图标/l.png) no-repeat; 
    position:absolute; 
    top:50%; 
    left:10px;
    z-index:10;
  }
#playBox .next{ 
  cursor:pointer; 
  width:45px; 
  height:45px; background:url(../图标/r.png) no-repeat; 
  position:absolute; 
  top:50%; 
  right:10px; 
  z-index:10;
}

#playBox .oUlplay { 
  width:99999px; 
  position:absolute; 
  left:0; 
  top:0;
}
#playBox .oUlplay li { 
  float:left;
  width:1920px; 
  height:950px; 
}
#playBox .oUlplay img {
  width:1920px; 
  height:950px; 
}
#playBox .smalltitle {
  height:20px; 
  position:absolute;
  bottom:15px; 
  left: 50%;
  z-index:10
}
#playBox .smalltitle ul { 
  width:120px; 
  margin:0 auto;
}
#playBox .smalltitle ul li { 
  width:20px; 
  height:20px; 
  margin:0 10px; 
  border-radius:10px; 
  background:#ffffff;
  float:left; 
  overflow:hidden;
  display:inline;  
  zoom:1;
}
#playBox .smalltitle .thistitle { 
  background:#69aaec;
}

.content {
  padding-top: 100px;
  height: 810px;
  background: url(../图片/背景图形.png);
  /* background-size: cover; */
}
.content h2 {
  margin-bottom: 40px;
  padding: 0 20px;
  font-size: 50px;
  color: #173060;
}
.content li {
  float: left;
}
.content li img {
  width: 720px;
}
.content li p {
  color: #354a74;
  font-size: 24px;
}
.content li p span {
  margin-right: 15px;
  padding-right: 15px;
}
.content ul .list {
  height: 333px;
  border-right: 2px solid #333;
  padding-right: 40px;
}
.content ul .list p {
  margin-left: 35px;
  width: 635px;
  height: 110px;
  line-height: 110px;
  border-top: 3px solid #666;
  font-size: 26px;
}
.content ul .news {
  margin-left: 20px;
  width: 300px;
  height: 510px;
}
.content ul .news h4 {
  height: 80px;
  font-size: 28px;
  line-height: 110px;
  border-bottom: 3px dotted #354a74;
  color: #354a74;
  font-weight: 400;
}
.content ul .news p {
  padding: 15px 0;
  font-size: 24px;
  border-bottom: 3px dotted #354a74;
}
 .more {
  height: 42px;
  font-size: 24px;
}
.more span {
  font-size: 40px;
  color: #ff9733;
}
.content .left {
  float: left;
  padding-left: 40px;
  padding-top: 50px;
  width: 690px;
  height: 565px;
  border: 3px solid #354a74;
  border-right: 0;
  background-color: #fff;
}
.content .left li {
  height: 125px;
  line-height: 125px;
  color: #354a74;
  font-size: 24px;
  border-top: 2px solid #666;
}
.content .left li p {
  width: 650px;
}
.content .right {
  float: left;
  margin-left: 5px;
  margin-top: -50px;
}
.content .right img {
  width: 1030px;
  height: 665px;
}
.content ol {
  height: 490px;
}
.content ol li {
  width: 470px;
  height: 490px;
  margin-left: 70px;
}
.content ol li img {
  width: 470px;
  height: 490px;
}
.content .bottom {
  width: 920px;
  height: 80px;
  margin: 20px auto;
}
.content .bottom li {
  padding-left: 190px;
}
.content .bottom img {
  width: 80px;
  height: 80px;
}
.footer {
  height: 210px;
  background-color: #ff9724;
}
.footer ul {
  padding-top: 30px;
  margin: 50px auto;
  width: 710px;
  height: 100px;
}
.footer li {
  float: left;
  padding: 0 25px;
  height: 100px;
}
.footer li img {
  width: 300px;
  height: 100px;
}
.footer p {
  text-align: center;
}
