.TV {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.TV .div {
  background-color: #ffffff;
  width: 1280px;
  height: 1957px;
  position: relative;
}

.TV .overlap {
  position: absolute;
  width: 1280px;
  height: 1595px;
  top: 0;
  left: 0;
}

.TV .header {
  position: absolute;
  width: 1280px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.TV .frame {
  position: relative;
  width: 1280px;
  height: 300px;
  border: 1px solid;
  border-color: #043985;
}

.TV .hamburger-button {
  position: absolute;
  width: 87px;
  height: 78px;
  top: 85px;
  left: 1133px;
}

.TV .logo {
  width: 252px;
  height: 92px;
  top: 18px;
  left: 47px;
  position: absolute;
  object-fit: cover;
}

.TV .img {
  position: absolute;
  width: 93px;
  height: 88px;
  top: 22px;
  left: 335px;
  object-fit: cover;
}

.TV .line {
  width: 1px;
  height: 74px;
  top: 27px;
  left: 310px;
  position: absolute;
  object-fit: cover;
}

.TV .group {
  position: absolute;
  width: 252px;
  height: 46px;
  top: 141px;
  left: 122px;
}

.TV .component {
  position: relative;
  height: 46px;
}

.TV .text-wrapper {
  width: 78px;
  height: 43px;
  top: -1px;
  left: -12px;
  color: #043985;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .text-wrapper-2 {
  width: 136px;
  height: 43px;
  top: -1px;
  left: 96px;
  color: #043985;
  font-size: 25px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .line-2 {
  width: 223px;
  height: 2px;
  top: 44px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.TV .element {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 7px;
  left: 66px;
}

.TV .navbar {
  position: absolute;
  width: 341px;
  height: 43px;
  top: 212px;
  left: 69px;
}

.TV .text-wrapper-3 {
  left: 0;
  color: #fd7900;
  position: absolute;
  width: 78px;
  height: 43px;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .text-wrapper-4 {
  left: 85px;
  color: #043985;
  position: absolute;
  width: 78px;
  height: 43px;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .text-wrapper-5 {
  left: 170px;
  color: #043985;
  position: absolute;
  width: 78px;
  height: 43px;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .text-wrapper-6 {
  left: 255px;
  color: #043985;
  position: absolute;
  width: 78px;
  height: 43px;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .group-2 {
  position: absolute;
  width: 1192px;
  height: 1322px;
  top: 273px;
  left: 52px;
}

.TV .overlap-group {
  position: absolute;
  width: 1192px;
  height: 327px;
  top: 0;
  left: 0;
}

.TV .element-2 {
  position: absolute;
  width: 998px;
  height: 305px;
  top: 11px;
  left: 194px;
}

.TV .element-3 {
  position: absolute;
  width: 338px;
  height: 327px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.TV .text-wrapper-7 {
  width: 824px;
  height: 64px;
  top: 132px;
  left: 350px;
  color: #1f57a6;
  font-size: 32px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .overlap-group-wrapper {
  position: absolute;
  width: 1192px;
  height: 327px;
  top: 491px;
  left: 0;
}

.TV .overlap-group-2 {
  position: relative;
  height: 327px;
}

.TV .text-wrapper-8 {
  width: 824px;
  height: 70px;
  top: 129px;
  left: 344px;
  color: #1f57a6;
  font-size: 32px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .overlap-wrapper {
  position: absolute;
  width: 1192px;
  height: 327px;
  top: 995px;
  left: 0;
}

.TV .text-wrapper-9 {
  width: 636px;
  height: 70px;
  top: 117px;
  left: 376px;
  color: #1f57a6;
  font-size: 32px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .view {
  position: absolute;
  width: 1280px;
  height: 208px;
  top: 1749px;
  left: 0;
  background-color: #ff8900;
}

.TV .p {
  position: absolute;
  width: 252px;
  height: 45px;
  top: 64px;
  left: 78px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #043985;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.TV .logo-2 {
  width: 347px;
  height: 127px;
  top: 33px;
  left: 357px;
  position: absolute;
  object-fit: cover;
}

.TV .element-4 {
  position: absolute;
  width: 67px;
  height: 57px;
  top: 64px;
  left: 1171px;
}

.TV .element-5 {
  position: absolute;
  width: 80px;
  height: 79px;
  top: 53px;
  left: 1038px;
}

.TV .element-6 {
  position: absolute;
  width: 73px;
  height: 74px;
  top: 53px;
  left: 912px;
}

.TV .element-7 {
  position: absolute;
  width: 73px;
  height: 59px;
  top: 62px;
  left: 786px;
}
